body{
  text-align: center;
  padding:0;
  margin:0;
  font-family: Helvetica;
  font-size: 20px;
}

h2{
  font-size: 35px;
  
}

.infosec{
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #333;
  color: white; 
}

#footer{
  font-size: 15px;
}

#homeInfo{
  background-image: url('./images/banner.jpg');
	background-position: center top;
	background-size: cover;
	padding: 500px 250px;
  color: white;
}

#social{ 
  color: white;
  float: center;
  text-align: center;
  background-color: #333;
}

#social a{
  text-decoration: none;
  color: white;
  padding: 20px;
}

#bio{
  text-decoration: none;
}

#bio li{
  list-style-type: none;
  
}


#contact{
  display: block;
  color: white;
  float: center;
  text-align: center;

}

#contact a{
  color:white;
  padding-left: 20px;
}

#bannerPhoto{
  height: 60%;
  width: 100%;
  display: block;
}

#footerPhoto{
  height: 50%;
  width: 100%;
  overflow: hidden;
}



.imageText{
  position:absolute;
  width:100%;
  text-align:center;
  background:rgba(10,10,10,0.5);
  font-size: 100%;
  bottom: 50%;
  color: white;
}

#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navItems{
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
}

#social a:hover,
.navItems:hover {
    background-color: #111;
}

.contactItems{
  padding: 20px;
}
